#format{
    border: solid;
    width: 50%;
    margin: o auto;
    padding: 12px;
}
.input{
    padding: 10px 12px;
    border-radius: 5px;
    border: 1px

}
button{
    padding: 1px 200px;
    background-color: blue;
    color: #2d1b42;


}
table{
    border: solid black;
    border-collapse: collapse;


}